@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

/* @font-face {
  font-family: 'Hanken Grotesk', sans-serif;
} */

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
}

@layer base {
  html {
    font-family: 'Hanken Grotesk', sans-serif;
  }
  /* * {
    outline: 1px solid red !important;
  } */
}

@theme {
  /* Neutral */
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-gray-blue: hsl(224, 30%, 27%);
  /* Primary */
  --color-light-red: hsl(0, 100%, 67%);
  --color-orangey-yellow: hsl(39, 100%, 56%);
  --color-green-teal: hsl(166, 100%, 37%);
  --color-cobalt-blue: hsl(234, 85%, 45%);
  /* Primary color variations */
  --color-light-red-lighter: hsl(from hsl(0, 100%, 67%) h s 97%);
  --color-orangey-yellow-lighter: hsl(from hsl(39, 100%, 56%) h s 97%);

  /* Gradients */
  --bg-results-gradient: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  --bg-results-gradient-circle: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}
